@reference "tailwindcss";

:host {
	@apply flex items-start justify-between px-12 pt-14;

	#date {
		color: var(--monet-background); // default (light mode)
	}
	#cancelButton {
		color: var(--monet-textPrimary);
		background-color: rgba(var(--monet-background-rgb), 0.8);
	}
}

@media (prefers-color-scheme: dark) {
	:host {
		#date {
			color: var(--monet-textPrimary); // dark mode
		}
	}
}
