<div #scrollContainer class="flex w-full snap-x snap-mandatory overflow-x-auto px-7 pt-4 whitespace-nowrap" [ngStyle]="{ 'touch-action: none': editMode() }">
	@for (pageNumber of Object.keys(paginatedApps()); track pageNumber) {
		<div class="mx-4 min-w-full snap-center px-4">
			<div class="grid grid-cols-4 gap-8">
				@for (app of paginatedApps()[+pageNumber]; track $index) {
					@if (app) {
						<button
							[attr.data-app-index]="(+pageNumber - 1) * 20 + $index"
							class="flex w-full flex-col items-center justify-center"
							[ngClass]="{ 'animate-wiggle': editMode() }"
							(touchstart)="onTouchStart($event, app, $index)"
							(touchmove)="onTouchMove($event)"
							(click)="openApp($event, app)"
							(contextmenu)="onContextMenu($event, app)"
						>
							<div class="relative flex w-full items-center justify-center">
								<div class="appBg flex items-center justify-center rounded-full border-t border-slate-400 p-2 backdrop-blur-2xl" [ngClass]="{ 'ring-2 ring-blue-500/50': dragOverApp()?.packageName === app.packageName }">
									<div [ngStyle]="{ '--icon-url': 'url(' + getAppIcon(app.packageName) + ')' }" class="icon-mask w-8"></div>
								</div>
								@if (editMode()) {
									<button class="absolute top-0 -left-3 flex h-4 w-4 shrink-0 items-center justify-center rounded-full border-t border-slate-400 bg-white/80 text-black backdrop-blur-2xl" (click)="openDeleteDialog($event, app)">
										<i class="icon-ic_fluent_dismiss_12_regular mt-1 text-xs"></i>
									</button>
								}
								@if (notifications() && notifications()[app.packageName]) {
									<div class="absolute top-0 -right-2 h-2 w-2 shrink-0 rounded-full border-t border-slate-400 bg-white/80 backdrop-blur-2xl"></div>
								}
							</div>
							<span class="w-14 truncate text-xs text-white">{{ app.label }}</span>
						</button>
					} @else {
						<div
							class="h-16 w-16 rounded border-2 border-dashed border-white/30 shadow-2xl shadow-white/50"
							[ngClass]="{ 'animate-fade-in opacity-100': dragOverApp() === null && dropTargetIndex === (+pageNumber - 1) * 20 + $index, 'opacity-0': !(dragOverApp() === null && dropTargetIndex === (+pageNumber - 1) * 20 + $index) }"
							[attr.data-app-index]="(+pageNumber - 1) * 20 + $index"
						></div>
					}
				}
			</div>
		</div>
	}
</div>
<div *ngIf="draggedApp()" class="pointer-events-none fixed z-50 flex items-center justify-center rounded-full border-t border-slate-400 p-2 ring-2 ring-blue-500/50 backdrop-blur-2xl" [ngStyle]="getDragStyle()">
	<img [src]="getAppIcon(draggedApp()?.packageName)" class="w-12" />
</div>
<app-dialog />
