<div class="flex w-full snap-x snap-mandatory overflow-x-auto px-7 pt-4 whitespace-nowrap">
	@for (pageNumber of Object.keys(paginatedApps()); track pageNumber) {
		<div class="mx-4 min-w-full snap-center px-6">
			<div class="grid grid-cols-4 gap-8">
				@for (app of paginatedApps()[+pageNumber]; track app) {
					<button class="justify-cente flex w-full flex-col items-center" (touchstart)="onTouchStart($event)" (touchend)="shouldTriggerTapTouch($event) && openApp(app.packageName)" (contextmenu)="onContextMenu($event, app)">
						<div class="relative flex w-full items-center justify-center">
							<div class="flex items-center justify-center rounded-full border-t border-slate-400 p-2 backdrop-blur-2xl">
								<img [src]="getAppIcon(app.packageName, app.label)" [alt]="app.label" class="w-8 shrink-0 object-contain" />
							</div>
							@if (notifications() && notifications()[app.packageName]) {
								<div class="absolute top-0 -right-2 h-2 w-2 shrink-0 rounded-full border-t border-slate-400 bg-white/80 backdrop-blur-2xl"></div>
							}
						</div>
						<span class="w-14 truncate text-xs text-white">{{ app.label }}</span>
					</button>
				}
			</div>
		</div>
	}
</div>
