<div id="start-menu" class="flex max-h-[calc(100dvh-18rem)] flex-col items-center justify-between gap-4 overflow-y-hidden rounded-lg border-t border-slate-400 px-4 pt-4 text-white shadow-2xl backdrop-blur-2xl" [ngClass]="{ active: active() }">
	<div class="flex w-4 w-full flex-col rounded-t-lg border-t border-slate-400 bg-slate-800/20">
		<div class="flex w-full items-center gap-2 rounded-lg p-2">
			<mat-icon class="w-full" svgIcon="heroicons_outline:magnifying-glass"></mat-icon>
			<input #search type="text" class="w-full p-2 outline-none" placeholder="Search Apps..." (input)="searchQuery.set($any($event.target).value)" />
			@if (searchQuery()) {
				<mat-icon svgIcon="heroicons_outline:x-mark" (click)="clearSearch()"></mat-icon>
			}
		</div>
		<div class="h-[1px] w-full bg-blue-400"></div>
	</div>
	<div *ngIf="forceRerender()" class="scroll-anchor-container animate-fade-in relative z-10 flex w-full flex-col gap-3 overflow-y-auto">
		@for (letter of Object.keys(distributedApps()); track letter) {
			<div class="flex flex-col gap-2 pb-2">
				<button [id]="letter" class="w-full pl-2.5 text-left text-xl font-semibold uppercase">
					<span class="prevent-select">{{ letter }}</span>
				</button>
				@for (app of distributedApps()[letter]; track app) {
					<button class="flex items-center gap-2" (click)="openApp(app.packageName)" (contextmenu)="onContextMenu($event, app)">
						<img [src]="getAppIcon(app.packageName, app.label)" class="h-8 w-8" [alt]="app.label" />
						<span class="prevent-select text-start">
							{{ app.label }}
						</span>
					</button>
				}
			</div>
		}
		<div
			#letterSidebar
			class="fixed right-2 z-50 flex flex-col items-center space-y-1 text-sm font-bold text-white"
			(mousedown)="startDrag($event)"
			(touchstart)="startDrag($event)"
			(mousemove)="onDrag($event)"
			(touchmove)="onDrag($event)"
			(mouseup)="endDrag()"
			(touchend)="endDrag()"
		>
			@for (letter of Object.keys(distributedApps()); track letter) {
				<span class="prevent-select cursor-pointer select-none" [attr.data-letter]="letter">
					{{ letter }}
				</span>
			}
		</div>
	</div>
</div>
@if (activeLetter()) {
	<div class="animate-fade-in prevent-select pointer-events-none absolute top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2 transform rounded-lg border-t border-slate-400 p-4 text-5xl font-bold text-white backdrop-blur-2xl">
		{{ activeLetter() }}
	</div>
}
