@reference "tailwindcss";

:host {
	@apply relative w-full p-16;
}

#start-menu {
	opacity: 0;
	pointer-events: none;
	position: relative;
	transform: translateY(10px);
	transition: all 250ms ease;

	&.active {
		opacity: 1;
		pointer-events: unset;
		transform: unset;
	}
}

input.clearing {
	animation: fadeClear 0.3s ease;
}

@keyframes fadeClear {
	0% {
		opacity: 0.5;
		transform: scale(0.98);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
