<div id="contextMenu" *ngIf="contextMenuVisible()" class="animate-fade-in z-100 flex flex-col rounded-lg border-t border-slate-400 text-white shadow-2xl backdrop-blur-2xl" [ngStyle]="getContextMenuStyle()">
	<button *ngIf="selectedApp()" class="flex items-center justify-start gap-2 border-b border-white/30 p-4" (click)="openApp()">
		<img [src]="getAppIcon()" class="h-8 w-8" [alt]="selectedApp()?.label" />
		<span class="prevent-select text-start">
			{{ selectedApp()?.label }}
		</span>
	</button>
	@for (item of contextMenuItems(); track item; let idx = $index, last = $last) {
		<button class="p-4 text-start" [ngClass]="{ 'border-b border-white/30': !last }" (click)="onClickContextMenuItem(item)" [attr.data-context-menu]="item.menuText">
			<span class="prevent-select">{{ item.menuText }}</span>
		</button>
	}
</div>
