<div id="statusbar" class="flex items-center justify-end gap-2">
	<i [class]="wifiBars[wifiLevel()]"></i>
	<div class="flex items-center gap-1">
		<span class="mb-[5px] text-xs">{{ mobileNetworkType() }}</span>
		<i [class]="telephonyBars[mobileLevel()]"></i>
	</div>
	<div class="flex items-center gap-1">
		<span class="mb-[5px] text-xs">{{ batteryLevel() }}%</span>
		@if (batteryIsCharging()) {
			<i [class]="batteryCharging"></i>
		} @else {
			<i [class]="getBatteryIcon()"></i>
		}
	</div>
</div>
<div #taskbarRef class="flex items-center justify-between rounded-lg border-t border-slate-400 p-4 shadow-2xl backdrop-blur-2xl">
	<div class="flex items-center gap-5">
		<app-start-button (startEmitter)="openStartMenuEventEmitter.emit()" />
		<div class="flex w-full gap-x-4 overflow-x-auto whitespace-nowrap">
			@for (app of pinnedApps(); track app) {
				<button class="relative shrink-0" (click)="openApp(app.packageName)" (contextmenu)="onContextMenu($event, app)">
					<img [src]="getAppIcon(app.packageName, app.label)" [alt]="app.label" class="h-10 w-10" />
					@if (notifications() && notifications()[app.packageName]) {
						<div class="absolute top-0 -right-2 h-2 w-2 shrink-0 rounded-full border-t border-slate-400 bg-white/80 backdrop-blur-2xl"></div>
					}
				</button>
			}
		</div>
	</div>
</div>
