<div id="statusbar" class="flex items-center justify-end gap-2">
	<i [class]="wifiBars[wifiLevel() - 1]"></i>
	<i [class]="telephonyBars[mobileLevel() - 1]"></i>
	@if (batteryIsCharging()) {
		<i [class]="batteryCharging"></i>
	} @else {
		<i [class]="getBatteryIcon()"></i>
	}
</div>
<div #taskbarRef class="flex items-center justify-between rounded-lg border-t border-slate-400 p-4 shadow-2xl backdrop-blur-2xl">
	<div class="flex items-center gap-4">
		<app-start-button (startEmitter)="openStartMenuEventEmitter.emit()" />
		<div class="flex w-full snap-x snap-mandatory gap-3 overflow-x-auto whitespace-nowrap">
			@for (app of pinnedApps(); track app) {
				<button class="shrink-0 snap-start" (click)="openApp(app.packageName)" (contextmenu)="onContextMenu($event, app)">
					<img [src]="getAppIcon(app.packageName, app.label)" [alt]="app.label" class="h-10 w-10" />
				</button>
			}
		</div>
	</div>
</div>
