@reference "tailwindcss";

:host {
	@apply relative flex w-full flex-col px-12 pb-12;
	color: var(--monet-background); // default (light mode)
}

@media (prefers-color-scheme: dark) {
	:host {
		color: var(--monet-textPrimary); // dark mode
	}
}

#statusbar i {
	font-size: 1.5rem;
}

.icon-mask {
	width: 2rem;
	height: 2rem;
	mask-image: var(--icon-url);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	/* WebKit fallback */
	-webkit-mask-image: var(--icon-url);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
}
