@reference "tailwindcss";

:host {
	@apply relative flex w-full flex-col px-12 pb-12;
	color: var(--monet-background); // default (light mode)
}

@media (prefers-color-scheme: dark) {
	:host {
		color: var(--monet-textPrimary); // dark mode
	}
}

#statusbar i {
	font-size: 1.5rem;
}
