<div #taskbarRef class="flex items-center justify-between rounded-lg border-t border-slate-400 p-4 shadow-2xl backdrop-blur-2xl">
	<div class="flex items-center gap-3">
		<app-start-button class="grid grid-cols-2 gap-[1px] rounded border-t border-transparent p-2" (startEmitter)="openStartMenuEventEmitter.emit()" />
		<div class="flex w-80 snap-x snap-mandatory gap-3 overflow-x-auto whitespace-nowrap">
			@for (app of pinnedApps(); track app) {
				<button class="shrink-0 snap-start" (click)="openApp(app.packageName)" (contextmenu)="onContextMenu($event, app)">
					<img [src]="getAppIcon(app.packageName)" [alt]="app.label" class="h-8 w-8" />
				</button>
			}
		</div>
	</div>
	<app-clock />
</div>
