<div #weatherRef id="weather" class="flex w-full items-center rounded-lg shadow-2xl">
	@if (!isLoading()) {
		<div class="relative flex w-full items-center justify-between gap-4 text-shadow-lg">
			@if (weatherData() && weatherData().length > 0) {
				<div class="flex items-center gap-4">
					<img class="w-12 shrink-0 object-contain opacity-75" [src]="getWeatherIcon()" alt="" />
					<div class="text-align-left flex w-full flex-col items-start opacity-50">
						<span class="text-align-left font-bold">{{ cityName() }}</span>
						<span class="text-align-left">{{ weatherData()![0].main }}</span>
					</div>
				</div>
			}
			@if (temperatureData()) {
				<div class="flex flex-col">
					<span class="py-2 text-6xl font-bold opacity-75">{{ temperatureData()?.temp?.toFixed(0) }}°C </span>
				</div>
			}
		</div>
	}
</div>
