<div #weatherRef id="weather" class="flex w-full items-center rounded-lg px-6 py-8 shadow-2xl backdrop-blur-2xl">
	@if (!isLoading()) {
		<div class="flex w-full items-center justify-between gap-4">
			@if (weatherData() && weatherData().length > 0) {
				<div class="flex items-center gap-4">
					<img class="w-12 shrink-0 object-contain" [src]="getWeatherIcon()" alt="" />

					<div class="text-align-left flex w-full flex-col items-start">
						<span class="text-align-left font-bold">{{ cityName() }}</span>
						<span class="text-align-left">{{ weatherData()![0].main }}</span>
					</div>
				</div>
			}
			@if (temperatureData()) {
				<div class="flex flex-col">
					<span class="text-6xl font-bold">{{ temperatureData()?.temp?.toFixed(0) }}°C </span>
				</div>
			}
		</div>
	}
</div>
