<div id="dialog" *ngIf="isVisible()" [class.animate-fade-out]="isHiding()" class="animate-fade-in fixed top-1/2 left-1/2 z-60 flex w-3/4 -translate-x-1/2 -translate-y-1/2 flex-col gap-2 rounded-lg py-4 text-white shadow-2xl backdrop-blur-2xl">
	<div class="relative z-100 flex items-center justify-between px-4">
		<h1 class="font-bold">Remove {{ selectedApp()?.label }}</h1>
		<button (click)="dismiss()"><i class="icon-ic_fluent_dismiss_12_regular"></i></button>
	</div>
	<p class="relative z-100 border-b border-white/30 px-4 pb-6 text-start">Are you sure you want to remove this app?</p>
	<div class="relative z-100 flex items-center justify-end gap-2 px-4">
		<button class="container rounded-lg p-2 shadow-2xl" (click)="remove()">Remove</button>
		<button class="danger container rounded-lg p-2 text-red-300 shadow-2xl" (click)="uninstall()">Uninstall</button>
	</div>
</div>
