@reference "tailwindcss";

:host {
	@apply grid aspect-square shrink-0 grid-cols-2 gap-[1px] rounded border-t border-transparent p-3;

	&.active {
		transition: all 250ms ease;
		border-color: var(--color-slate-400);

		div {
			background-color: rgba(var(--monet-accent-rgb), 0.8);
			&:first-child {
				background-color: rgba(var(--monet-accent-rgb), 0.8);
			}
		}
	}

	div {
		background-color: rgba(var(--monet-accent-rgb), 0.5);
		&:first-child {
			background-color: rgba(var(--monet-accent-rgb), 0.9);
		}
	}
}
