<div id="spotlight" *ngIf="isSpotlightActive()" class="spotlight-reveal-wrapper relative z-50 h-screen w-screen bg-black/40 p-8 pt-16 text-white" [style.opacity]="reveal()" [style.backdropFilter]="'blur(' + reveal() * 40 + 'px)'">
	<div class="spotlight-reveal-container relative z-60 flex flex-col gap-4" [style.transform]="'translateY(' + (reveal() * 100 - 100) + '%)'" [style.pointerEvents]="reveal() === 1 ? 'auto' : 'none'">
		<div class="inputContainer flex w-4 w-full flex-col rounded-lg bg-slate-800/20">
			<div class="flex w-full items-center gap-2 rounded-lg p-2">
				<mat-icon class="w-full" svgIcon="heroicons_outline:magnifying-glass"></mat-icon>
				<input #search type="text" class="w-full p-2 outline-none" placeholder="Search..." (input)="searchQuery.set($any($event.target).value)" (keydown.enter)="onEnterPressed()" />
				@if (searchQuery()) {
					<mat-icon svgIcon="heroicons_outline:x-mark" (click)="clearSearch()"></mat-icon>
				}
			</div>
		</div>
		@if (mathResult() !== null) {
			<div class="animate-fade-in container flex h-full max-h-64 w-full flex-col gap-4 overflow-y-auto rounded-lg bg-black/10 p-4">
				<span class="font-bold">Calculator</span>

				<!-- Si hay representación humana (ej. fecha legible) -->
				<span *ngIf="mathResult()?.human; else unitOrDefault">
					{{ mathResult()?.human }} ({{ mathResult()?.value }}{{ mathResult()?.unit ? ' ' + mathResult()?.unit : '' }}) <span *ngIf="mathResult()?.altHuman">({{ mathResult()?.altHuman }})</span></span
				>

				<!-- Si no hay human, mostrar con unidad si hay -->
				<ng-template #unitOrDefault>
					<span> {{ searchQuery() }} = {{ mathResult()?.value }}{{ mathResult()?.unit ? ' ' + mathResult()?.unit : '' }} </span>
				</ng-template>
			</div>
		}
		@if (filteredContacts().length > 0) {
			<div class="animate-fade-in container flex h-full w-full flex-col gap-4 rounded-lg bg-black/10">
				<span class="px-4 pt-4 font-bold">Contacts</span>
				<div class="flex max-h-64 flex-col gap-2 overflow-y-auto px-4 pb-2" data-scrollable>
					@for (contact of filteredContacts(); track contact.id) {
						<div class="flex h-full flex-col gap-2">
							<button class="flex items-center gap-2" (click)="openContact(contact.id)">
								<div class="container flex h-12 w-12 items-center justify-center">
									@if (contact.photoUri) {
										<img class="h-12 w-12 rounded-full object-cover" [alt]="contact.name" [src]="'data:image/png;base64,' + contact.photoUri" />
									} @else {
										<mat-icon svgIcon="heroicons_outline:user-circle" class="opacity-50"></mat-icon>
									}
								</div>
								<span class="prevent-select text-start">
									{{ contact.name }}
								</span>
							</button>
							<div [@expandCollapse]="openedContactIds().includes(contact.id) ? 'expanded' : 'collapsed'" class="flex flex-col gap-2">
								@for (phoneNumber of contact.phoneNumbers; track phoneNumber) {
									<div #contactCollapsible [id]="contact.id + '-' + phoneNumber" class="container flex flex-col gap-2 p-4">
										<span class="text-xl font-bold">{{ phoneNumber }}</span>
										<div class="flex items-center justify-between">
											@for (action of contactActions; track action.packageName) {
												<button (click)="invokeAction(action, phoneNumber)">
													<div class="container flex h-12 w-12 items-center justify-center">
														<img class="w-8" [src]="getAppIcon(action.packageName)" alt="" />
													</div>
												</button>
											}
										</div>
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div>
		}
		@if (filteredApps().length > 0) {
			<div class="animate-fade-in container flex h-full w-full flex-col gap-4 rounded-lg bg-black/10">
				<span class="px-4 pt-4 font-bold">Apps</span>
				<div class="flex max-h-64 flex-col gap-2 overflow-y-auto px-4 pb-2" data-scrollable>
					@for (app of filteredApps(); track app.packageName) {
						<button class="flex items-center gap-2" (click)="openApp(app.packageName)">
							<div class="appBg relative flex h-12 w-12 items-center justify-center">
								<img [src]="getAppIcon(app.packageName)" class="w-8" [alt]="app.label" />
							</div>
							<span class="prevent-select text-start">
								{{ app.label }}
							</span>
						</button>
					}
				</div>
			</div>
		}
		@if (suggestions().length > 0) {
			<div class="animate-fade-in container flex h-full w-full flex-col gap-4 rounded-lg bg-black/10 p-4">
				<span class="font-bold">Suggestions</span>
				@for (suggestion of suggestions().slice(0, 5); track $index; let last = $last) {
					<button class="flex items-center gap-2" (click)="openSuggestion(suggestion)">
						<i class="icon-ic_fluent_arrow_trending_24_regular"></i>
						<span>{{ suggestion }}</span>
					</button>
				}
			</div>
		}
	</div>
</div>
