<!-- Customization -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_apps_settings_20_regular text-4xl"></i>
		<div>Customization</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Show/Hide unthemed icons</span>
			<label class="switch">
				<input name="showHideUnthemedIcons" type="checkbox" [checked]="settings().showHideUnthemedIcons" (change)="applyChange($event)" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
		<div class="flex items-center justify-between gap-2">
			<span>Show/Hide homescreen date</span>
			<label class="switch">
				<input name="showHideHomescreenDate" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideHomescreenDate" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
		<div class="flex items-center justify-between gap-2">
			<span>Show/Hide statusbar</span>
			<label class="switch">
				<input name="showHideStatusbar" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideStatusbar" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
		<div class="flex items-center justify-between gap-2">
			<span>Show/Hide notification badges</span>
			<label class="switch">
				<input name="showHideNotificationBadges" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideNotificationBadges" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
		<div class="flex items-center justify-between gap-2">
			<span>Show/Hide homescreen icon labels</span>
			<label class="switch">
				<input name="showHideHomescreenIconLabels" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideHomescreenIconLabels" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<div class="container flex flex-col p-4">
	<div class="flex items-center justify-between gap-2">
		<span>Change accent color</span>
		<input type="color" name="accent" [value]="colorSettings().accent" id="colorPicker" (change)="colorChange($event)" />
	</div>
</div>
<div class="container flex flex-col p-4">
	<div class="flex items-center justify-between gap-2">
		<span>Change background color</span>
		<input type="color" name="background" [value]="colorSettings().background" id="colorPicker" (change)="colorChange($event)" />
	</div>
</div>
<div class="container flex flex-col p-4">
	<div class="flex items-center justify-between gap-2">
		<span>Change Text color</span>
		<input type="color" name="textPrimary" [value]="colorSettings().textPrimary" id="colorPicker" (change)="colorChange($event)" />
	</div>
</div>
<!-- Apps -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_apps_48_regular text-4xl"></i>
		<div>Apps</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Enable/Disable apps in start menu</span>
			<label class="switch">
				<input name="showHideStartMenuApps" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideStartMenuApps" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Calendar -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_calendar_48_regular text-4xl"></i>
		<div>Calendar</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Enable/Disable calendar in start menu</span>
			<label class="switch">
				<input name="showHideStartMenuCalendar" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideStartMenuCalendar" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Contacts -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_book_contacts_24_regular text-4xl"></i>
		<div>Contacts</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Enable/Disable contacts in start menu</span>
			<label class="switch">
				<input name="showHideStartMenuContacts" type="checkbox" (change)="applyChange($event)" [checked]="settings().showHideStartMenuContacts" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Spotlight -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_search_48_regular text-4xl"></i>
		<div>Spotlight</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Enable/Disable spotlight search</span>
			<label class="switch">
				<input name="enableSpotlight" type="checkbox" (change)="applyChange($event)" [checked]="settings().enableSpotlight" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Weather -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_weather_partly_cloudy_day_48_regular text-4xl"></i>
		<div>Weather</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Enable/Disable weather widget</span>
			<label class="switch">
				<input name="enableWeatherWidget" type="checkbox" (change)="applyChange($event)" [checked]="settings().enableWeatherWidget" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Media -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_music_note_2_play_20_regular text-4xl"></i>
		<div>Media</div>
	</div>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between gap-2">
			<span>Enable/Disable media widget</span>
			<label class="switch">
				<input name="enableMediaWidget" type="checkbox" (change)="applyChange($event)" [checked]="settings().enableMediaWidget" />
				<span class="slider round">
					<div class="toggle"></div>
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Miscellaneous -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_settings_48_regular text-4xl"></i>
		<div>Miscellaneous</div>
	</div>
	<div class="flex flex-col gap-2 pt-2">
		<button class="container flex items-center justify-center gap-2 p-4 text-center" (click)="openWallpaperPicker()">Open system wallpaper picker</button>
		<button class="container flex items-center justify-center gap-2 p-4 text-center" (click)="openBridgeSettings()">Open bridge settings</button>
		<button class="danger container flex items-center justify-center gap-2 p-4 text-center text-red-300" (click)="resetSettings()">Reset settings</button>
		<button class="danger container flex items-center justify-center gap-2 p-4 text-center text-red-300" (click)="resetColors()">Reset color settings</button>
		<button class="danger container flex items-center justify-center gap-2 p-4 text-center text-red-300" (click)="resetPinnedApps()">Reset pinned apps</button>
	</div>
</div>
<!-- Miscellaneous -->
<div class="container flex flex-col p-4">
	<div class="text-shadow-xl flex items-center gap-2 text-xl font-bold">
		<i class="icon-ic_fluent_info_48_regular text-4xl"></i>
		<div>About</div>
	</div>
	<div class="flex flex-col gap-2 pt-2">
		<span class="flex w-full items-center justify-center text-center text-3xl">Influential HS</span>
		<span class="flex w-full items-center justify-center text-center">Version 0.1 (Build 202506290749)</span>
	</div>
</div>
