/* You can add global styles to this file, and also import other style files */
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@import 'tailwindcss';
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Quicksand', Roboto, 'Helvetica Neue', sans-serif;
}
