/* You can add global styles to this file, and also import other style files */
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind utilities;

html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: 'Quicksand', Roboto, 'Helvetica Neue', sans-serif;
}

.animate-fade-in {
	animation: fadeInUp 250ms ease-out;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

html.dragging,
body.dragging {
	touch-action: none;
	overflow: hidden;
}

html.dragging .snap-x,
body.dragging .snap-x {
	scroll-snap-type: none !important;
	overflow-x: hidden !important;
	touch-action: none !important;
}
