/* You can add global styles to this file, and also import other style files */
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind utilities;

html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: 'Quicksand', Roboto, 'Helvetica Neue', sans-serif;
}

.animate-fade-in {
	animation: fadeInUp 250ms ease-out;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-out {
	animation: fadeOutDown 250ms ease-in;
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(10px);
	}
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

html.dragging,
body.dragging {
	touch-action: none;
	overflow: hidden;
}

html.dragging .snap-x,
body.dragging .snap-x {
	scroll-snap-type: none !important;
	overflow-x: hidden !important;
	touch-action: none !important;
}

input.clearing {
	animation: fadeClear 0.3s ease;
}

@keyframes fadeClear {
	0% {
		opacity: 0.5;
		transform: scale(0.98);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

[data-scrollable] {
	-webkit-overflow-scrolling: touch;
}

#start-menu,
#spotlight {
	position: relative;
	--border-width: 1px;
	background: linear-gradient(-75deg, rgba(var(--monet-background-rgb), 0.01), rgba(var(--monet-background-rgb), 0.1), rgba(var(--monet-background-rgb), 0.01), rgba(var(--monet-background-rgb), 0.05));
	border-radius: 2rem;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 0;
		filter: url(#lensFilter) saturate(100%) brightness(0.2);
		border-radius: 2rem;

		@apply backdrop-blur-2xl;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: 2rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

.container {
	--border-width: 1px;
	position: relative;
	z-index: 60;
	background: linear-gradient(-75deg, rgba(var(--monet-accent-rgb), 0.01), rgba(var(--monet-accent-rgb), 0.2), rgba(var(--monet-accent-rgb), 0.05));
	border-radius: 2rem;
	animation: pulseIn 250ms ease;
	@apply backdrop-blur-2xl;

	&.danger {
		background: linear-gradient(-75deg, rgba(251, 44, 54, 0.01), rgba(251, 44, 54, 0.2), rgba(251, 44, 54, 0.05));
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: 2rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

.inputContainer {
	position: relative;
	--border-width: 1px;
	background: linear-gradient(-75deg, rgba(var(--monet-accent-rgb), 0.01), rgba(var(--monet-accent-rgb), 0.2), rgba(var(--monet-accent-rgb), 0.05));
	border-radius: 2rem;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: 2rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

#dialog {
	--border-width: 1px;
	background: linear-gradient(-75deg, rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.15), rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.05));
	border-radius: 2rem;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 0;
		filter: url(#lensFilter) saturate(100%) brightness(0.9);
		border-radius: 2rem;

		@apply backdrop-blur-xl;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: 2rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

#contextMenu,
#mediaPlayer,
#taskbar,
#weather {
	position: relative;
	--border-width: 1px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: linear-gradient(-75deg, rgba(var(--monet-background-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.15), rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-background-rgb), 0.05));
	border-radius: 2rem;
	padding: 1rem;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 0;
		filter: url(#lensFilter) saturate(100%) brightness(0.9);
		border-radius: 2rem;

		@apply backdrop-blur-md;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: 2rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

.activeLetter {
	--border-width: 1px;
	background: linear-gradient(-75deg, rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.15), rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-background-rgb), 0.05));
	border-radius: 1rem;

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: 1rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

#contextMenu {
	padding: unset;
}

#weather {
	@apply mb-2 px-6 py-8;
}

#mediaPlayer {
	@apply mb-2 px-6 py-10;
}

.appBg {
	--border-width: 1px;
	padding: 0.7rem;
	backdrop-filter: url(#frosted);
	-webkit-backdrop-filter: url(#frosted);
	background: linear-gradient(-75deg, rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.15), rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.05));

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: 2rem;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);
	}
}

.appBg,
.appBg::after,
.appBg::before {
	border-radius: 99rem;
}

/* Defs */
@property --angle-1 {
	syntax: '<angle>';
	inherits: false;
	initial-value: -75deg;
}

@property --angle-2 {
	syntax: '<angle>';
	inherits: false;
	initial-value: -45deg;
}

:root {
	transition: --angle-1 0.4s ease;
}

@keyframes pulseIn {
	from {
		transform: scale(0.95);
		opacity: 0.8;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.events {
	--border-width: 1px;
	background: linear-gradient(-75deg, rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-accent-rgb), 0.15), rgba(var(--monet-accent-rgb), 0.05), rgba(var(--monet-background-rgb), 0.05));
	position: relative;

	::after {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		width: calc(100% + var(--border-width));
		height: calc(100% + var(--border-width));
		top: calc(0% - var(--border-width) / 2);
		left: calc(0% - var(--border-width) / 2);
		padding: var(--border-width);
		box-sizing: border-box;
		background:
			conic-gradient(
				from var(--angle-1) at 50% 50%,
				rgba(var(--monet-accent-rgb), 0.25),
				rgba(var(--monet-accent-rgb), 0) 5% 40%,
				rgba(var(--monet-accent-rgb), 0.25) 50%,
				rgba(var(--monet-accent-rgb), 0) 60% 95%,
				rgba(var(--monet-accent-rgb), 0.25)
			),
			linear-gradient(180deg, rgba(var(--monet-background-rgb), 0.25), rgba(var(--monet-background-rgb), 0.25));
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		box-shadow: inset 0 0 0 rgba(var(--monet-background-rgb), 0.342);

		@apply rounded;
	}
}

.blur-transition {
	transition: filter 0.2s cubic-bezier(0.44, 0.13, 0.48, 0.87);
}

.blur {
	filter: blur(10px);
	pointer-events: none;
}
