.icon-mask {
	width: 2rem;
	height: 2rem;
	mask-image: var(--icon-url);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	/* WebKit fallback */
	-webkit-mask-image: var(--icon-url);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
}
